<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</p>
{{ if .Param "hasMath"}}
  <link rel="stylesheet" href="/katex/katex.min.css">

  <!-- The loading of KaTeX is deferred to speed up page rendering -->
  <script defer src="/katex/katex.min.js"></script>

  <!-- To automatically render math in text elements, include the auto-render extension: -->
  <script defer src="/katex/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
  <noscript>
    <style>.jsonly { display: none }</style>
  </noscript>
{{ end }}
